    :root {
    --bg-body: #edc9b5;
    --bg-item: #ffeccd;
    --color: #000000;
    --border-item: 2px solid #457081; 
  }

body {
    color: var(--color);
    background-color: var(--bg-body);
}

header {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    width: 20%;
    font-size: larger;
}

header nav {
    width: 50%;
}

nav ul {
    display: flex;
    flex-wrap: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

nav li {
    background-color: var(--bg-item);
    border: var(--border-item);
}

a:hover {
   color: grey; 
}

/* I think I managed to get the use of flex to format for the header, nav bar and footer correct, but have struggled to rectify this across my three main sections on my portfolio page. I have attended an office hour and referred back to other resources provided, but think I need to practice further with how inheritance works between parent and child elements as I don't think my flex containers have been properly deployed as the flex items within aren't acting exactly as I want them to at present.*/

.hero {
    height: 400px;
}

.aboutme-container {
    display:flex;
    flex-wrap: flex;
    justify-content: space-between;
    align-items:center
}

.aboutme-container > section {
    height: 100%;
    width: 60%;
}

section h2 {
   text-align: center;
   background-color: var(--bg-item);
   border: var(--border-item);
}

.aboutme-container > img {
    height: 100%;
    width: 50%
}

.workimage-container {
    display: flex;
    flex-wrap: flex;
    flex-direction: row;
}

.imagetext-container {
    position: relative;
    text-align: center;
    color: white;
}
  
#larger-workimage {
    flex-basis: 50%;
    border: var(--border-item);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.smaller-workimage {
    flex-basis: auto;
    border: var(--border-item);
    width: 25%;
    height: 25%;
    }

.contact-container {
    display: flex;
    flex-wrap: flex;
    flex-direction: column;   
}

legend {
    border: var(--border-item);
    background-color: var(--bg-item);
    font-weight: bold;
}

footer {
    padding: 30px;
    text-align: center
    background-color: var(--bg-item);
    border: var(--border-item);
}

.footer-container {
    display: flex;
}

@media screen and (max-width: 992px) {
  header, footer {
    background-color: #457081;
  }
  header, .workimage-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
  
@media screen and (max-width: 768px) {
   header, footer {
    background-image: linear-gradient(#edc9b5 0%, #457081 100%);
  }
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
  