    :root {
    --bg-body: #edc9b5;
    --bg-item: #ffeccd;
    --color: #000000;
    --border-item: 2px solid #457081;
  }

body {
    color: var(--color);
    background-color: var(--bg-body);
}

header {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    width: 20%;
    font-size: larger;
}

header nav {
    width: 50%;
}

nav ul {
    display: flex;
    flex-wrap: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

nav li {
    background-color: var(--bg-item);
    border: var(--border-item);
}

.hero {
    height: 400px;
}

.aboutme-container {
    display:flex;
    flex-wrap: flex;
    justify-content: space-between;
    align-items:center
}

.aboutme-container > section {
    height: 100%;
    width: 60%;
    border: var(--border-item:);
}

section h2 {
   text-align: center;
   background-color: var(--bg-item);
   border: var(--border-item);
}

.aboutme-container > img {
    height: 100%;
    width: 50%
}

.workimage-container {
    display: flex;
    flex-wrap: flex;
    flex-direction: row;
}

.imagetext-container {
    position: relative;
    text-align: center;
    color: white;
}
  
#larger-workimage {
    flex-basis: 50%;
    border: var(--border-item);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.smaller-workimage {
    flex-basis: auto;
    border: var(--border-item);
    width: 25%;
    height: 25%;;
    }

.contact-container {

}

footer {

}

@media screen and (max-width: 992px) {
   
  }
  
@media screen and (max-width: 768px) {
    
  }
  

@media screen and (max-width: 576px) {
    
  }